{%  set wordpress = salt['grains.filter_by']({
    'Debian': {
        'service': 'apache2',
	    'docroot': '/var/www/html/',
        'url': 'http://wptest.com',
        'name': 'WP TEST BLOG',
    },
    'RedHat': {
        'service': 'httpd',
	    'docroot': '/var/www/html/',
        'url': 'http://wptest.com',
        'name': 'WP TEST BLOG',
    }
}) %}
