{% set  = salt['grains.filter_by']({
    'Debian': {
	'package': '',
        'server': '',
        'service': '',
        'user': '',
        'group': '',
        'configfile': '',

        'logdir': '',
        'wwwdir': '',
    },
    'RedHat': {
	'package': '',
        'server': '',
        'service': '',
        'user': '',
        'group': '',
        'configfile': '',

        'logdir': '',
        'wwwdir': '',
    },
}) %} 
