Port 22
AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::

Protocol 2
PermitRootLogin without-password

PasswordAuthentication {% if "role" in grains and grains["role"] == "remote" %}yes{% else %}no{% endif %}
ChallengeResponseAuthentication no
UsePAM yes
Banner /etc/issue

GSSAPIAuthentication yes
GSSAPICleanupCredentials yes

AuthorizedKeysCommand /usr/bin/sss_ssh_authorizedkeys
AuthorizedKeysCommandUser root

X11Forwarding yes

Subsystem sftp /usr/lib/ssh/sftp-server
